.rewards{
   
    color: white;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 2;
    padding-top: 2rem;
    padding-left: 7rem;
    font-family: SoDoSans_Semibold,Helvetica,sans-serif ;
    


}
.knowmore-btn{
    width: 10rem;
    height: 2.5rem;
    margin-right: 4rem;
    background-color:transparent;
    color: white;
    border-radius: 10rem;
    margin-left: -25rem;
    margin-top: 1.5rem;
    border-color: white;
  

  
    

 

}
.row{
    width: 100%;
  height: 6rem;
    display: flex;
    margin-top: 2rem;
  
    background-color: #1e3932;
}
.container{
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: center;
   

}
.title{
    margin-top: 2rem;
    color: #1e3932;
    margin-left: 4rem;
}
.round{
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    margin-right: 5rem;
    
  
 
    
 }
 .round-image{
    border-radius: 50%;
    width: 8rem;
    margin-left: 2rem;
    margin-top: 3rem;
    cursor: pointer;
    margin-left: rem;
    justify-content: space-between;
    display: flex;
    margin-left: 7rem;
 }
 .round-title{
    display: flex;
justify-content: center;
text-align: center;
align-items: center;
margin-left: 7rem;
margin-top: 1rem;


 }
@media (max-width: 982px) {
    .rewards{
        display: none;
    }
    .row{
        display: none;
    }
    .title{
        margin-top: 10rem;
    }
    
}
@media (max-width: 400px){
    .title{
        margin-top: 5rem;
        margin-left:2%;
       
    }
    .handcrafted{
        margin-left: 35%;
    }
    .round{
        margin-right: 90%;
    }

}
@media (max-width: 320px){
   .container{
   
   }
   .title{
    margin-top: 5rem;
    margin-left: 1%;
   
}
.handcrafted{
    margin-left: 40%;
}
.round{
    margin-right: 90%;
}

}